.components-progress{
  display: inline-block;
  margin-top: 30px;
  width: 80%;
  height: 3px;
  background: #ddd;
  // cursor: pointer;
  .progress{
    width: 30%;
    height: 3px;
    background: red
  }
}
