
.player{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding-top: 20vw;
  // background: rgba(29, 77, 109, 0.521);
  .cover{
    overflow: hidden;
    width: 60vw;
    height: 60vw;
    background: black;
    border-radius: 50vw;
    border: 15vw solid black;
    box-shadow: 0px  1px 20px 10px red;
    animation: rotate 10s;
    animation-timing-function:linear;
    animation-iteration-count : infinite;
    &.pause{
      animation-play-state: paused;
    }
    &.play{
      animation-play-state: running;
    }
  }
  .control_wrap{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20vw;
    display: flex;
    // flex: 1;
    justify-content:center;
    // box-sizing: border-box;
    align-items: center;
    background:rgba(0, 0, 0, 0.3);
    // padding-top: 15vw;
    // margin-top: 20vw;



    .control{
      position: relative;
      display: flex;
      justify-content:center;
      width: 100%;
      box-sizing: border-box;
      padding: 0px 10px;

      .playOrder{
        position: absolute;
        left: 85%;
        top: 25%;
        width: 8vw;
        height: 8vw;
        background: url(../../images/cycle.png) no-repeat;
        background-size: 100%;
        background-position: center center;


      }
      .control-left , .control-center ,.control-right{
        width: 20%;
        height: 14vw;
      }

      .control-left{
        background: url(../../images/previous.png) no-repeat;
        background-size: 60%;
        background-position: center center;
      }
      .play{
        background: url(../../images/play.png) no-repeat;
      }
      .pause{
        background: url(../../images/Pause.png) no-repeat;
      }
      .control-center{
        background-size: 60%;
        background-position: center center;
      }
      .control-right{
        background: url(../../images/next.png) no-repeat;
        background-size: 60%;
        background-position: center center;
      }
    }

    }
    .volume{
      display: flex;
      width: 100%;
      box-sizing: border-box;
      padding: 0 5vw;
      margin-top: 5vw;
      .volumeBtn{
        width: 7vw;
        height: 7vw;
        background: url(../../images/volume.png) no-repeat;
        background-size: 60%;
        background-position: center center;
      }

    }
    }

  .timer{
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 5vw;
    margin-top: 6vw;
    span{
      font-size: 4vw;
      color: gray;
      font-weight: bold;
    }
  }
@keyframes rotate{
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
}
